/* Odin Recipes styles.css file */

/* Type selectors and grouping type selectors */

h1,
h2 {
    color: #ff00ff;
    background-color: blue;
    font-family: "Times New Roman", sans-serif;
}

h1 {
    font-size: 38px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: lighter;
}

/* Chaining two class selectors */

.paragraph.secondaryp {
    font-style: italic;
}

/* Using a Descendant combinator with two type selectors */

ul li {
    font-weight: bold;
}

/* Adding a frame to the image and resizing the image */

.frame {
    width: 300px;
    height: auto;
    border: 3px solid gray;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
}

/* Resizing the image */

img {
    height: auto;
    width: 300px
    }